* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(206, 206, 206);
}

.card {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 550px;   
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(163, 163, 163);
}

.close {
    width: 20px;
    margin-top: 15px;
    margin-right: 10px;
    align-self: flex-end;
    fill: rgb(179, 179, 179);
    cursor: pointer;
}

.profile {
    margin-top: 110px;
    border-radius: 100px;
    width: 150px;
}

.name {
    color: rgb(44, 44, 44);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 900;
}

.job {
    padding-bottom: 70px;
    font-size: 21px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    margin-bottom: 30px;
    font-size: 19px;
    padding: 15px 60px 15px 60px;
    background-color: rgb(68, 68, 68);
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover {
    background-color: gray;
}

.close:hover {
    fill: gray;
}