* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    margin: 30px;
    padding: 70px;
    background-color: rgb(231, 231, 231);
    border-radius: 8px;
}

.main-nav-list {
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-size: 19px;
    font-weight: 550;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.list-item a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(86, 153, 153);
    text-decoration: underline;
}

a:active {
    color: rgb(86, 153, 153);
    text-decoration: underline;
}