* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gainsboro;
}

.card {
    display: flex;
    flex-direction: column;
    height: 330px;
    width: 220px;
    background-color:rgb(241, 240, 240);
    border: 8px solid white;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-size: 70px;
    color: rgb(172, 42, 42);
}

.top {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-self: flex-start;
    padding: 10px 0px 0px 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-size: 20px;
    padding: 10px 0px 0px 10px;
    transform: rotate(180deg);
}

span {
    color: rgb(124, 124, 124);
    font-weight: 600;
}